{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block body %}
    <h2> <font size="6"> About The Platform </font> </h2>
    <p>
    Wayhaven is an immersive storytelling environment, made to share media for 
    storytelling in a whole new way. You can explore exsisting stories, write your own and 
    comment and react to the adventures happening in Wayhaven.
    </p>
    <h2> <font size="6"> About The Creators </font> </h2> 
    <h3> Heather Dykstra </h3>
    A founder of Wayhaven and a member of the HackCU Team, Heather is graduating in May 2015 with a BS in Computer Science. 
    Her passions include Code, Music, and Storytelling. This platform was co-designed by her to incorperate these passions with an online community. 	 <!--facinations... --> She has foucused on the HTML and python for the app.   
    <h3> Ashley Garg </h3>
    A member of the HackCU Team, Ashley is studying Computer Science this year. Her contributions lie in helping the team define 
    the project, and keeping us on track.
    <h3> Michael Asnes </h3>
    A member of the HackCU Team, Michael is graduating in May 2015 with a BA in Computer Science and a BA in Philosophy. 
    His focus is the backend and application database.
    <h3> Andrea Sassu </h3>
    A founder of Wayhaven, Andrea is graduating in May 2015 with a BS in Computer Science. Also passionate about
    Code, Music, and Storytelling. This platform was co-designed by her to incorperate these passions with an online community.
    </br>
    
{% endblock %}
